@(channels: List[models.Channel] = Nil, context: utilities.Context, sidebarItems: List[utilities.SidebarItem] = Nil)
@getChannelLogoPosition(logoPosition: Int) = {
@if(logoPosition == 1) {Top-left} else {@if(logoPosition == 2) {Top-right} else {@if(logoPosition == 3) {Bottom-left} else {@if(logoPosition == 4) {Bottom-right}}}}
}
@contentPage(context = context, sidebarItems = sidebarItems) {
@if(!channels.isEmpty) {
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Logo Position</th>
        </tr>
        @for(channel <- channels) {
        <tr>
            <td>@channel.id</td>
            <td>@channel.name</td>
            <td><img src='@routes.Assets.at("channel_logos/" + channel.id + ".png")' alt="@channel.name logo"></td>
            <td>@getChannelLogoPosition(channel.logoPosition)</td>

            <td><a href="@routes.Channels.renderEditChannelPage(channel.id)" class="glyphicon glyphicon-pencil"></a></td>
            <td>
                <form action="@routes.Channels.deleteChannel(channel.id)" method="post">
                    <a class="glyphicon glyphicon-remove" onclick="$(this).closest('form').submit();"></a>
                </form>
            </td>
        </tr>
        }
    </table>
</div>
} else {
<h4>There is no channel in the system!</h4>
}
<a href="@routes.Channels.renderAddChannelPage" class="btn btn-primary">Add a New Channel</a>
}