@(houses: List[models.House] = Nil, context: utilities.Context, sidebarItems: List[utilities.SidebarItem] = Nil)
@contentPage(context = context, sidebarItems = sidebarItems) {
@if(!houses.isEmpty) {
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Family Name</th>
            <th>District</th>
            <th>Street</th>
            <th>Building Name</th>
            <th>Door Number</th>
            <th>Postal Code</th>
            <th>Town</th>
            <th>City</th>
        </tr>
        @for(house <- houses) {
        <tr>
            <td>@house.id</td>
            <td>@house.familyName</td>
            <td>@house.district</td>
            <td>@house.street</td>
            <td>@house.buildingName</td>
            <td>@house.doorNumber</td>
            <td>@house.postalCode</td>
            <td>@house.town</td>
            <td>@house.city</td>
            <td><a href="@routes.Houses.renderEditHousePage(house.id)" class="glyphicon glyphicon-pencil"></a></td>
            <td>
                <form action="@routes.Houses.deleteHouse(house.id)" method="post">
                    <a class="glyphicon glyphicon-remove" onclick="$(this).closest('form').submit();"></a>
                </form>
            </td>
        </tr>
        }
    </table>
</div>
} else {
<h4>There is no house in the system!</h4>
}
<a href="@routes.Houses.renderAddHousePage" class="btn btn-primary">Add a New House</a>
}