@(context: utilities.Context, sidebarItems: List[utilities.SidebarItem] = Nil)
@contentPage(context = context, sidebarItems = sidebarItems) {
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Family Name</th>
            <th>District</th>
            <th>Street</th>
            <th>Building Name</th>
            <th>Door Number</th>
            <th>Postal Code</th>
            <th>Town</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Değer 1</td>
            <td>Değer 2</td>
            <td>Değer 2</td>
            <td>Değer 2</td>
            <td>Değer 2</td>
            <td>Değer 2</td>
            <td>Değer 2</td>
            <td>Değer 2</td>
            <td>Değer 2</td>
        </tr>
    </table>
</div>

}