@index {
<div class="row">
    <div class="panel panel-primary">
        <!-- Title -->
        <div class="panel-heading dialog-title">
            Login
        </div>
        <div class="panel-body">
            <form action='@routes.Login.submit' method="post">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row row-with-margin">
                        <input name="email" type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="row row-with-margin">
                        <input name="password" type="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="row row-with-margin">
                        <button class="btn btn-primary" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
}