@(people: List[models.Person] = Nil, context: utilities.Context, sidebarItems: List[utilities.SidebarItem] = Nil)
@contentPage(context = context, sidebarItems = sidebarItems) {
@if(!people.isEmpty) {
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Gender</th>
            <th>House Id</th>
            <th>Button Number</th>
        </tr>
        @for(person <- people) {
        <tr>
            <td>@person.id</td>
            <td>@person.name</td>
            <td>@person.birthDate</td>
            <td>@if(person.isMale) {Male} else {Female}</td>
            <td><a href="@routes.Houses.renderEditHousePage(person.houseId)">@person.houseId</a></td>
            <td>@person.buttonNumber</td>

            <td><a href="@routes.People.renderEditPersonPage(person.id)" class="glyphicon glyphicon-pencil"></a></td>
            <td>
                <form action="@routes.People.deletePerson(person.id)" method="post">
                    <a class="glyphicon glyphicon-remove" onclick="$(this).closest('form').submit();"></a>
                </form>
            </td>
        </tr>
        }
    </table>
</div>
} else {
<h4>There is no person in the system!</h4>
}
<a href="@routes.People.renderAddPersonPage" class="btn btn-primary">Add a New Person</a>
}