@(person: Option[models.Person] = None, isAddingPerson: Boolean = false, houses: List[models.House] = Nil, context: utilities.Context, sidebarItems: List[utilities.SidebarItem] = Nil)

@getName() = {@if(!person.isEmpty) {@person.get.name} else {}}
@getBirthDate() = {@if(!person.isEmpty) {@person.get.birthDate} else {}}
@isMale() = {@if(!person.isEmpty && person.get.isMale) {checked} else {}}
@isFemale() = {@if(!person.isEmpty && !person.get.isMale) {checked} else {}}
@isHouseIdSelected(id: Long) = {@if(!person.isEmpty && person.get.houseId == id) {selected} else {}}
@isButtonNumberSelected(number: Int) = {@if(!person.isEmpty && person.get.buttonNumber == number) {selected} else {}}

@getFormAction() = {@if(isAddingPerson) {@routes.People.addPerson} else {@routes.People.editPerson(person.get.id)}}

@scripts() = {
<!-- Bootstrap Datepicker JS -->
<script src='@routes.Assets.at("js/bootstrap-datepicker.js")'></script>
<script>
$('#birthDate').datepicker();
</script>
}

@styles() = {
<!-- Bootstrap Datepicker CSS -->
<link href='@routes.Assets.at("css/datepicker.css")' rel="stylesheet">
}

@contentPage(context = context, scripts = scripts, styles = styles, sidebarItems = sidebarItems) {
@if(!isAddingPerson && person.isEmpty) {
<h4>Invalid person id, person not found!</h4>
} else {
<h3>@if(isAddingPerson && person.isEmpty) {Add a New Person} else {Edit Person}</h3>
<form class="form-horizontal" action="@getFormAction()" method="post">
    <fieldset>
        <div class="form-group">
            <label class="col-md-2 control-label" for="name">Name</label>

            <div class="col-md-9">
                <input id="name" name="name" type="text" class="form-control" value="@getName()" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="birthDate">Birth Date</label>

            <div class="col-md-9">
                <input class="form-control" type="text" id="birthDate" name="birthDate" value="@getBirthDate()" data-date-format="yyyy-mm-dd" data-date-viewmode="years" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="isMale">Gender</label>

            <div class="col-md-9" id="isMale">
                <div class="radio-inline">
                    <input type="radio" name="isMale" value="true" @isMale() required>Male
                </div>
                <div class="radio-inline">
                    <input type="radio" name="isMale" value="false" @isFemale() required>Female
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="houseId">House</label>

            <div class="col-md-9">
                <select id="houseId" name="houseId" class="form-control" required>
                    <option value="">Select a House</option>
                    @for(house <- houses) {
                    <option value="@house.id" @isHouseIdSelected(house.id)>House of @house.familyName Family</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="buttonNumber">Dedicated RC Button</label>

            <div class="col-md-9">
                <select id="buttonNumber" name="buttonNumber" class="form-control" required>
                    <option value="">Select a Button</option>
                    @for(i <- 1 to 9) {
                    <option value="@i" @isButtonNumberSelected(i)>Button @i</option>
                    }
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-11 text-right">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </fieldset>
</form>
}
}