@(chartScript: Html = Html(""), context: utilities.Context, sidebarItems: List[utilities.SidebarItem] = Nil, tabItems: List[utilities.TabItem] = Nil)
@tabItem(link: String, text: String, isActive: Boolean) = {
<li @if(isActive) {class="active"} ><a href="@link">@text</a></li>
}
@scripts() = {
<script src='@routes.Assets.at("js/Chart.min.js")'></script>
<script>
var data = @chartScript
var ctx = $("#myChart").get(0).getContext("2d");
var myNewChart = new Chart(ctx).Bar(data);
</script>
}
@contentPage(context = context, scripts = scripts, sidebarItems = sidebarItems) {
<ul class="nav nav-pills">
    @for(item <- tabItems) {
    @tabItem(item.link.url, item.text, item.isActive)
    }
</ul>
<div class="col-md-9 col-md-offset-3">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

}